  <a href="{{ section.settings.video_link }}">
<div class="hero">
  <h1>{{ section.settings.heading }}</h1>
  <video class="video-bg video-desktop" autoplay muted loop playsinline>
  	<source src={{ section.settings.video_url }} type='video/mp4'>
  </video>
    <video class="video-bg video-mobile" autoplay muted loop playsinline>
  	<source src={{ section.settings.video_mob_url }} type='video/mp4'>
  </video>
</div>
      </a>

{% schema %}
  {
    "name": "Video Background Banner",
    "settings": [
      {
      "type": "text",
      "id": "heading",
      "label": "Overlay text"
    },
      {
      "type": "url",
      "id": "video_url",
      "label": "Enter the video url here"
    },
            {
      "type": "url",
      "id": "video_link",
      "label": "Enter the clickable link here"
    },
            {
      "type": "url",
      "id": "video_mob_url",
      "label": "Enter the url for mobile video here"
    },
    {
      "type": "range",
      "id": "blur",
      "min": 0,
      "max": 10,
      "step": 0.1,
      "unit": "px",
      "label": "For low quality video add blur",
      "default": 0
    },
    {
      "type": "range",
      "id": "opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Change video opacity",
      "default": 1
    }
],
  "presets": [
    {
      "name": "Video Background Banner"
    }
  ]
  }
{% endschema %}

<style>
.video-bg{
  width:100vw;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*     min-width: 100%; */
    min-height: 100%; 
    z-index: -1;
    filter: blur({{section.settings.blur}}px) opacity({{section.settings.opacity}});
}
  .video-desktop{
    display: block;
  }
  .video-mobile{
    display:none;
  }
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 80vh;
    position: relative;
    overflow: hidden;
  }
.hero h1{
    padding: 1.5em;
    background: hsl(0 100% 100% / 25%);
    backdrop-filter: blur(10px);
  }
 @media only screen and (max-width: 920px) {
   .hero{
    margin-bottom: 0px;
    margin-top: 0px;
   }
 }
    @media only screen and (max-width: 720px) {
  .video-desktop{
    display: none;
  }
  .video-mobile{
    display:block;
  }

 .hero{
        display:flex;
        min-height: 60vh;
        max-height: 60vh
      }

 .video-bg{
    position: relative;
    margin-top: 47rem;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: blur({{section.settings.blur}}px) opacity({{section.settings.opacity}});
}
}

</style>